*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]000.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]001.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]002.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]003.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]004.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]005.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]006.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]007.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]008.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]009.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]010.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]011.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]012.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]013.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]014.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]015.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]016.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]017.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]018.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]019.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]020.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]021.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]022.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]023.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]024.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]025.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]026.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]027.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]028.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]029.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]030.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]031.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]032.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]033.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]034.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]035.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]036.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]037.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]038.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]039.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]040.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]041.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]042.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]043.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]044.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]045.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]046.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]047.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]048.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]049.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]050.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]051.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]052.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]053.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]054.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]055.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]056.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]057.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]058.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]059.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]060.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]061.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]062.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]063.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]064.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]065.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]066.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]067.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]068.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]069.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]070.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]071.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]072.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]073.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]074.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]075.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]076.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]077.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]078.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]079.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]080.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]081.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]082.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]083.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]084.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]085.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]086.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]087.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]088.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]089.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]090.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]091.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]092.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]093.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]094.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]095.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]096.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]097.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]098.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]099.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]100.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]101.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]102.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]103.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]104.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]105.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]106.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]107.jpg filter=lfs diff=lfs merge=lfs -text
datacat/class/cat[[:space:]]108.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_008.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_009.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_010.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_011.JPG filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_012.JPG filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_013.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_014.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_015.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_016.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_017.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_018.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_019.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_020.jpg filter=lfs diff=lfs merge=lfs -text
datacat/instance/instance_021.jpg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
